<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>

<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <div id="nav-box">
      <nav id="navbar">
        <header id="subject">Yin Fu Baguazhang</header>
        <ul>
          <li><a class="nav-link" href="#Introduction">Introduction</a></li>
          <li><a class="nav-link" href="#Lion_Shape">Lion Shape</a></li>
          <li><a class="nav-link" href="#Snake_Shape">Snake Shape</a></li>
          <li><a class="nav-link" href="#Unicorn_Shape">Unicorn Shape</a></li>
          <li><a class="nav-link" href="#Dragon_Shape">Dragon Shape</a></li>
          <li><a class="nav-link" href="#Phoenix_Shape">Phoenix Shape</a></li>
          <li><a class="nav-link" href="#Bear_Shape">Bear Shape</a></li>
          <li><a class="nav-link" href="#Monkey_Shape">Monkey Shape</a></li>
          <li><a class="nav-link" href="#Rooster_Shape">Rooster Shape</a></li>
        </ul>
      </nav>    
    </div>
  </head>
  <body>
    <main id="main-doc">
      <section class="main-section" id="Introduction">
        <header>Introduction</header>
          <article>
              <p>Five Basic Practices
There are five basic practice methods in Xie Peiqi's Yin Style Baguazhang: standing, turning, striking, moving strikes, and changing. These practices are the basic pillars of the style, and are all considered equally important
                <ul>     
                  <li>Standing</br>Standing practices involve nine static strengthening postures specific to a given animal. Each posture requires precise body alignment and distinct isometric pressures necessitating full body exertion to maintain properly. These postures are undertaken to develop and check the structure of every part of the body.</li>
                  <li>Turning</br>Turning (or turning the circle), is the practice many people associate with Baguazhang. "Yin style Bagua is the art of striking while you are moving. You ceaselessly move and strike, and are always trying to get to the outside [of your opponent] by turning. No matter what, position yourself to avoid the heavy blows and let the light ones fall. It is within turning that these movements and techniques are honed to perfection or to a higher level. All movements and techniques are linked smoothly together.</li>
                  <li>Striking</br>Striking is the most fundamental way of developing power in Yin Style Baguazhang. It is introduced through the stationary drilling method, unaccompanied by footwork. It is intended to establish the harmony between hand and waist that is necessary for generating power</li>
                  <li>Moving strikes</br>The moving strike practices consist of:
                    <ul>
                    <li>One-step drilling method, of which there is the zig-zag stepping or dominating the side, straight stepping, or dominating the center, and closing or turning the back method.</li>
                    <li>Two-step, or square drilling, which consists of advance-back-step, advance-advance, or back-step-advance, and back-step back-step.</li>
                    <li>Three-step, or horizontal drilling method, which combines the stationary strike, advance step, and back-step.</li>
                    </ul>
                  </li>
                  <li>Changing</br>Changing is most obvious when changing hands to face opposite directions. Changing also includes the changing or redirecting of force, or alterations in stepping.</li>
                </ul>
              </p>
           </article>
      </section>
      <section class="main-section" id="Lion_Shape">
        <header>Lion Shape</header>
          <article>
              <p>The lion is pure Yang energy, or hardness, and is one of two animals represented by a pure trigram; the other is the Unicorn. The lion trigram is characterized by powerful and ferocious full-body force generated from the waist. The lion's eight striking methods are: sweeping, cutting, chopping, hooking, shocking, blocking, seizing and grasping.

The lion's characteristic movement technique is Linking the Forms.
                <pre>
                  <code>Heaven is the corresponding gua</code>
                </pre>
              </p>
         </article>
      </section>
      <section class="main-section" id="Snake_Shape">
        <header>Snake Shape</header>
          <article>
              <p>The Snake's striking methods are: shoulder, elbow, knee, hip, shooting, binding, entrapping, and grasping. The style is characterized by a smooth and flowing motion of the force-palm, with many of the strikes targeted at vital organs.

The snake's characteristic movement technique is Moving with the Force.
                <pre>
                  <code>Water is the corresponding gua</code>
                </pre>
              </p>
         </article>
      </section>
      <section class="main-section" id="Unicorn_Shape">
       <header>Unicorn Shape</header>
          <article>
              <p>The Unicorn is the opposite of the Lion, being pure Yin. The Unicorn's striking methods are: sticking, kneading, soft, following, hip, striking, chopping and cutting. It issues force by employing all joints to produce a flexible, snapping power.

The unicorn's characteristic movement technique is Reversing the Body.
                <pre>
                  <code>Earth is the corresponding gua</code>
                </pre>
              </p>
         </article>
      </section>
      <section class="main-section" id="Dragon_Shape">
       <header>Dragon Shape</header>
          <article>
              <p>Known as the lifting and holding palm. Its striking methods are: pushing, lifting, carrying, leading, moving, capturing, chopping and entering. The Dragon's power is emitted through a forward motion of back and waist. The Dragon style, although practiced differently in Yin Style, is the animal practiced by Cheng Style Baguazhang.

The dragon's characteristic movement technique is Lifting and Upholding.
                <pre>
                  <code>Thunder is the corresponding gua</code>
                </pre>
              </p>
         </article>
      </section>
      <section class="main-section" id="Phoenix_Shape">
        <header>Phoenix Shape</header>
          <article>
              <p>In the phoenix system, force is emitted from the shoulders, and characterized by whipping action. The striking methods are: dodging, extending, chopping, shocking, transforming, removing, curling in, and cutting.

The phoenix's characteristic movement technique is Windmill.
                <pre>
                  <code>Wind is the corresponding gua</code>
                </pre>
              </p>
         </article>
      </section>
      <section class="main-section" id="Bear_Shape">
        <header>Bear Shape</header>
          <article>
              <p>The bear system is distinguished by a strategy of taking advantage from a losing position. The Bear's striking methods are: rushing, penetrating, withdrawing, carrying, leaning, shocking, soft and following. The Bear's power is generated from the back, and is short and blunt.

The bear's characteristic movement technique is Turning the Back.
                <pre>
                  <code>Mountain is the corresponding gua</code>
                </pre>
              </p>
         </article>
      </section>
      <section class="main-section" id="Monkey_Shape">
        <header>Monkey Shape</header>
          <article>
              <p>Concentrates on leg techniques, referred to as the interlocking leg. Its striking methods are: bending, thrusting, straightening, hip, chopping, swinging, stopping, and ending.

The monkey's characteristic movement technique is Compacting the Body.
                <pre>
                  <code>Lake is the corresponding gua</code>
                </pre>
              </p>
         </article>
      </section>
      <section class="main-section" id="Rooster_Shape">
        <header>Rooster Shape</header>
          <article>
              <p>The rooster focuses on long, deep footwork with one's center of gravity close to the ground. Power comes from the elbows. The Rooster's striking methods are: dodging, extending, lifting, shifting, entering, whipping, rushing and stabbing.

The rooster's characteristic movement technique is Reclining Step (also known as Lying Step).
                <pre>
                  <code>Fire is the corresponding gua</code>
                </pre>
              </p>
         </article>
      </section>  
    </main>
  </body>
</html>